<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Tag</h5>
        </div>
        <div class="card-body tab2-card">
            <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewTab" (navChange)="onTabChange($event)">
                <li ngbNavItem="addTab">
                    <a ngbNavLink> Add</a>
                    <ng-template ngbNavContent>
                        <!--Add Start-->
                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4">
                                    <span>*</span>
                                    Name
                                </label>
                                <input class="form-control col-xl-8 col-md-7" type="text" formControlName="name">
                                <div class="col-xl-3 col-md-4"></div>
                                <div class="col-xl-8 col-md-7" *ngIf="f['name'].touched && !f['name'].valid">
                                    <span style="color:#dc3545 !important" *ngIf="f['name'].hasError('required')">
                                        {{validationMessages.name.required}} </span>
                                    <div class="text-danger" *ngIf="formErrors.name">{{formErrors.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!addForm.valid">{{buttonText}}</button>
                            </div>
                            <div class="pull-right mr-2">
                                <button type="button" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
                            </div>
                        </form>
                        <!--Add End-->
                    </ng-template>
                </li>
                <li ngbNavItem="viewTab">
                    <a ngbNavLink>View</a>
                    <ng-template ngbNavContent>
                        <!--View Start-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="custom-datatable">
                                                <ngx-datatable class="bootstrap" [rows]="objRows" [columnMode]="'force'"
                                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                                    [limit]="5">
                                                    <ngx-datatable-column name="Name"></ngx-datatable-column>
                                                    <ngx-datatable-column name="Created Date" prop="createdOn">
                                                        <ng-template let-row="row" let-value="value"
                                                            ngx-datatable-cell-template>
                                                            {{row.createdOn}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="action" prop="id">
                                                        <ng-template let-row="row" let-value="value"
                                                            ngx-datatable-cell-template>
                                                            <button type="button" (click)="Edit(value)">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button type="button" (click)="Delete(value)">
                                                                <i class="fa fa-trash-o"></i>
                                                            </button>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--View End-->
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>